<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceIP" value="localhost"/>
    <add key="Port" value="12001"/>
    <add key="logFileName" value="LogFile.log"/>
    <add key="Protocol" value="TCP"/>
    <add key="Serialization" value="Binary"/>
    <add key ="loggerType" value="Client"/>
    <add key ="SA" value="TripleDesSymmetricAlgorithm"/>
    <add key ="ASA" value="RSAAsymmetricAlgorithm"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
